*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f8ff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

header{
    justify-content: center;
    display: flex;
    width: 100%;
    background-color:  #f9f8ff;
}

.fixed.row{
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding-top: 10px;
    background-color:  #f9f8ff;
}
.fixed{
    display: flex;
}

.header{
    position: fixed;
    background-color:  #f9f8ff;
    padding: 4px 20px 0 20px;
    width: 100%;
    border-bottom: 1px solid rgba(25, 5, 69, 0.05);
    box-shadow: 0 7px 15px -12px rgba(25,4,69,0.1)
}

#content{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 530px;
    grid-gap: 20px;
    text-align: center;
    align-items:  center;
    justify-content: center;
    width: 100%;
}

.form{
    margin-left: 600px;
}

.buttons{
    justify-content: flex-end;
    flex-grow: 1;
    display: flex;
    margin-right: 200px;
}


/* POSITION & CONTACT FORM */
.delete,
input[type=text],
input[type=textarea],
input[type=date],
input[type=submit]{
    padding: 10px;
    margin: 10px 0;
    border: 0;
    width: 100%;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=textarea]{
    resize: vertical;
    padding: 15px;
    height: 100px;
}

input[type=checkbox]{
    margin: 30px 20px;
}

.delete,
input[type=submit]{
    background-color: #694feb;
    color: #fff;
    cursor: pointer;
}

.contact-card,
.position-card,
#contact-form-box,
#position-form-box{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    margin: 50px;
}

#contact-form,
#position-form{
    width: 300px;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
}

.buttons a{
    color: rgba(25,4,69,0.8);
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    width: 10%;
    cursor: pointer;
}

#logo{
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
    margin-left: 200px;
}

#title{
    height: 100px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    width: 900px;
    color: rgba(25,4,69,0.8);
}

h1{
    font-size: 40px;
}