*{
    box-sizing: border-box;
}
header{
    height: 100px;
    padding: 10px;
}

#content{
    padding: 20px;
    text-align: center;
}

#content::after{
    content: '';
    display: table;
    clear: both;
}

.contact-card,
.position-card{
    float: right;
    width: 33.33%;
    padding: 10px;
}

.position-card{
    height: 450px;
}

.contact-card{
    height: 350px;
}

.position-info,
.contact-info{
    padding: 20px;
    border: 2px solid #e4e1e8;
    border-radius: 10px;
}

.contact-info{
    height: 300px;
}

.position-info{
    height: 400px;
}


.buttons{
    float: right;
}

.logo{
    float: left;
}

