*{
    box-sizing: border-box;
}
header{
    height: 100px;
    padding: 10px;
}

#content{
    padding: 20px;
    text-align: center;
}

#content::after{
    content: '';
    display: table;
    clear: both;
}

.contact-card,
.position-card{
    float: right;
    width: 33.33%;
    padding: 10px;
}


.buttons{
    float: right;
}

.logo{
    float: left;
}

